{% extends "DRPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

    {% block body %}
        <div class="container">
            <table align="center" width="20%">
                <tr>
                    <td width="50%"  class="text-center">
                        <h2 style="color:#d9534f">
                            <span class="glyphicon glyphicon-search"/>
                        </h2>
                    </td>
                    <td width="50%">
                        <h2>
                            <a href="{{ path('dr_view')}}" style="color:#d9534f">Visualiser</a>
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td width="50%"  class="text-center">
                        <h2 style="color:#d9534f">
                            <span class="glyphicon glyphicon-plus"/>
                        </h2>
                    </td>
                    <td width="50%">
                        <h2>
                            <a href="{{ path('dr_add')}}" style="color:#d9534f">Ajouter</a>
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td width="50%"  class="text-center">
                        <h2 style="color:#d9534f">
                            <span class="glyphicon glyphicon-edit"/>
                        </h2>
                    </td>
                    <td width="50%">
                        <h2>
                            <a href="#view" style="color:#d9534f">Editer</a>
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td width="50%"  class="text-center">
                        <h2 style="color:#d9534f">
                            <span class="glyphicon glyphicon-trash"/>
                        </h2>
                    </td>
                    <td width="50%">
                        <h2>
                            <a href="#view" style="color:#d9534f">Supprimer</a>
                        </h2>
                    </td>
                </tr>
            </table>
        </div>
    {% endblock %}